@import '../Styles/mixins';

.cardgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding-bottom: 2rem;
  @include media('<desktop') {
    grid-template-columns: 1fr 1fr;
  }
  @include media('<tablet') {
    grid-template-columns: 1fr;
  }
}
