@import '../Styles/mixins';

.modal {
  background: var(--modal);
  border: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  overflow: scroll;
  width: 100%;
  z-index: 99999999;
}

.modal-container {
  background: var(--white);
  margin: 6rem auto;
  max-width: 768px;
  padding: 2rem;
  position: relative;
  @include media('<desktop') {
    max-width: 600px;
    margin: 4rem auto;
  }
}

.modal-header__title,
.modal-header__description {
  margin: 0;
  padding: 0 0 0.5rem 0;
}

.modal__close {
  position: absolute;
  right: 0;
  top: -3rem;
  z-index: 20;
}
.modal__close-button {
  appearance: none;
  background: transparent;
  border: none;
  font-size: 0;
  height: 2rem;
  position: relative;
  width: 2rem;

  &::after {
    position: absolute;
    color: var(--white);
    content: 'X';
    font-size: 2rem;
    top: 0;
    right: 0;
  }

  &:hover {
    cursor: pointer;
  }
}
