@import '../Styles/mixins';

.modal {
  background: var(--modal);
  border: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}

// NOTE:
// Not vertical centered.
// Vertical view could be compromised
.modal-container {
  background: var(--white);
  margin: 6rem auto;
  max-width: 768px;
  padding: 2rem;
  @include media('<desktop') {
    max-width: 600px;
  }
}

.modal-header__title,
.modal-header__description {
  margin: 0;
  padding: 0 0 0.5rem 0;
}

.modal-filters {
  display: flex;
  flex-wrap: wrap;
}

.modal-filter {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 2rem;
  @include media('<desktop') {
    width: 100%;
  }
}

@include media('>=desktop') {
  .modal-filter:not(:nth-child(2n)) {
    padding-right: 2rem;
  }
}

.modal-filter__title {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  @include media('<desktop') {
    font-size: 0.8rem;
  }
}
.modal-filter__options {
  appearance: none;
  background: url('../../static/images/chevron-down-solid.svg') no-repeat 95%
    center var(--white);
  background-size: 0.75rem;
  border: solid 1px var(--black-soft);
  border-radius: 0.25rem;
  padding: 1rem;
  position: relative;
  width: 100%;
  z-index: 0;
}

.modal-filter__checkboxes {
  display: flex;
}

.modal-filter__checkbox {
  align-items: center;
  display: flex;
  padding-right: 2rem;

  input {
    position: relative;
    height: 1.2rem;
    margin: 2px 0.4rem 0 0;
    width: 1.2rem;
    z-index: 0;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      height: 1.2rem;
      width: 1.2rem;
      border: solid 1px var(--black-soft);
      border-radius: 0.25rem;
      background: var(--white);
      z-index: 5;
    }
    &:checked:after {
      background: url('../../static/images/check-solid.svg') no-repeat center
        center var(--blue);
      background-size: 70%;
    }
  }
}
