@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../../static/styles/normalize.css';

@import './variables';
@import './utils';
@import './mixins';

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: var(--black);
  margin: 0;
  padding: 0;
}

input[type='checkbox'] {
  appearance: none;
  border: none;
  height: 1.2rem;
  margin-right: 0.4rem;
  position: relative;
  width: 1.2rem;
  z-index: 0;

  &:after {
    background: var(--white);
    border: solid 1px var(--black-soft);
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 1.2rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 1.2rem;
    z-index: 5;
  }
  &:checked:after {
    background: url('../../static/images/check-solid.svg') no-repeat center
      center var(--blue);
    background-size: 70%;
  }
  &:focus {
    outline: solid 1px var(--blue);
  }
}
