@import './mixins';

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 1rem;
  padding-right: 1rem;
  @include media('<desktop') {
    margin: 0;
    max-width: unset;
  }
}

// Importants to override styles
.flex-center {
  align-items: center !important;
  display: flex !important;
  justify-self: center !important;
}

.hidden-on-mobile {
  @include media('<desktop') {
    display: none !important;
  }
}
.hidden-on-desktop {
  @include media('>=desktop') {
    display: none !important;
  }
}

// Effects
.effect-courtain {
  position: relative;
  z-index: 0;
}

.effect-courtain:after {
  content: '';
  display: block;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out;
  width: 0%;
  z-index: -1;
}

.effect-courtain:hover:after {
  width: 100%;
}

.effect-courtain--blue {
  &:hover:after {
    background: var(--blue-dark);
    color: var(--white);
  }
}
