@import './mixins';

.container {
  margin: 0 auto;
  max-width: 1440px;
  @include media('<desktop') {
    margin: 0;
    max-width: unset;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// Importants to override styles
.flex-center {
  align-items: center !important;
  display: flex !important;
  justify-self: center !important;
}

.hidden-on-mobile {
  @include media('<desktop') {
    display: none !important;
  }
}
.hidden-on-desktop {
  @include media('>=desktop') {
    display: none !important;
  }
}
