@import './mixins';

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 1rem;
  padding-right: 1rem;
  @include media('<desktop') {
    margin: 0;
    max-width: unset;
  }
}

// Importants to override styles
.flex-center {
  align-items: center !important;
  display: flex !important;
  justify-self: center !important;
}

.hidden-on-mobile {
  @include media('<desktop') {
    display: none !important;
  }
}
.hidden-on-desktop {
  @include media('>=desktop') {
    display: none !important;
  }
}

.button {
  appearance: none;
  background: var(--white);
  border: solid 1px;
  border-radius: 0.25rem;
  font-weight: 700;
  margin-right: 1rem;
  padding: 0.5rem 1rem;

  &:last-child {
    margin-right: 0;
  }

  &--primary {
    background: var(--yellow);
    border-color: var(--yellow);
    color: var(--black);

    &:hover {
      color: var(--white);
      cursor: pointer;
    }
  }

  &--muted {
    border-color: var(--green);
    color: var(--green);

    &:hover {
      background: var(--green);
      color: var(--white);
      cursor: pointer;
    }
  }

  &--disabled {
    background: var(--grey-dark);
    color: var(--black);
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
    }
  }
}
