// Variables
:root {
  --blue: #18acc4;
  --blue-soft: #007a8d;
  --black: #1f2d30;
  --green: #0fa866;
  --grey: #fbfbfb;
  --grey-dark: #f0f0f0;
  --modal: rgba(31, 45, 48, 0.88);
  --yellow: #fdcb13;
  --yellow-soft: #de9e1f;
  --white: #ffffff;
}

// Media Queries
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px
);
