// Variables
:root {
  --blue: #18acc4;
  --blue-dark: #007a8d;
  --black: #1f2d30;
  --black-soft: #ccc;
  --green: #0fa866;
  --grey: #fbfbfb;
  --grey-dark: #f0f0f0;
  --modal: rgba(31, 45, 48, 0.88);
  --red: red;
  --shadow: rgba(31, 45, 48, 0.1);
  --yellow: #fdcb13;
  --yellow-soft: #de9e1f;
  --white: #ffffff;
}

// Media Queries
$breakpoints: (
  phone: 450px,
  tablet: 1024px,
  desktop: 1080px
);
