@import '../Styles/mixins';

.modal-filters {
  display: flex;
  flex-wrap: wrap;
}

.modal-filter {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 2rem;
  @include media('<desktop') {
    width: 100%;
  }
}

@include media('>=desktop') {
  .modal-filter:not(:nth-child(2n)) {
    padding-right: 2rem;
  }
}

.modal-filter__title {
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  @include media('<desktop') {
    font-size: 0.8rem;
  }
}
.modal-filter__options {
  appearance: none;
  background: url('../../static/images/chevron-down-solid.svg') no-repeat 95%
    center var(--white);
  background-size: 0.75rem;
  border: solid 1px var(--black-soft);
  border-radius: 0.25rem;
  padding: 1rem;
  position: relative;
  width: 100%;
  z-index: 0;
}

.modal-filter__checkboxes {
  display: flex;
}

.modal-filter__checkbox {
  align-items: center;
  display: flex;
  padding-right: 2rem;

  input {
    height: 1.2rem;
    margin: 2px 0.4rem 0 0;
    position: relative;
    width: 1.2rem;
    z-index: 0;

    &:after {
      background: var(--white);
      border: solid 1px var(--black-soft);
      border-radius: 0.25rem;
      content: '';
      display: block;
      height: 1.2rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 1.2rem;
      z-index: 5;
    }
    &:checked:after {
      background: url('../../static/images/check-solid.svg') no-repeat center
        center var(--blue);
      background-size: 70%;
    }
  }
}
.modal-filter__range {
  // NOTE:
  // Repeating code here.
  // That's necessary as you can't comma-separate these type of selectors.
  // Browsers will drop the entire selector if it doesn't understand a part of it.
  // @see https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/

  appearance: none;
  background: transparent;
  height: 2rem;
  width: 100%;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-webkit-slider-thumb {
    border: solid 1px var(--blue);
    height: 1rem;
    width: 1rem;
  }
  &::-moz-range-thumb {
    border: solid 1px var(--blue);
    height: 1rem;
    width: 1rem;
  }
  &::-ms-thumb {
    border: solid 1px var(--blue);
    height: 1rem;
    width: 1rem;
  }
}
